{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "env": {
    "browser": true,
    "node": true
  },
  "ignorePatterns": [
    "webpack.config.js",
    "webpack-blocks.config.js",
    "webpack-public-path.js",
    "assets/tailwind/src/config.js"
  ],
  "rules": {
    "max-len": [
      1,
      120,
      2,
      {
        "ignoreComments": true
      }
    ],
    "padded-blocks": "off",
    "indent": [
      "error",
      4,
      {
        "ImportDeclaration": 1
      }
    ],
    "import/prefer-default-export": "off",
    "func-names": "off",
    "quotes": [
      "error",
      "single",
      {
        "allowTemplateLiterals": true
      }
    ],
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "object-shorthand": "off",
    "no-param-reassign": [
      "error",
      {"props": false
      }
    ],
    "prefer-destructuring": [
      "error",
      {
        "object": false,
        "array": false
      }
    ],
    "camelcase": [
      "error",
      {
        "ignoreImports": true
      }
    ],
    "no-shadow": "off",
    "spaced-comment": [
      "error",
      "always"
    ]
  }
}
