/node_modules
/vendor
/web/wp-admin
/web/wp-includes
/web/wp-content/languages
/web/wp-content/plugins/*
/web/wp-content/upgrade
/web/wp-content/themes/*
/web/wp-content/uploads
/web/wp-content/debug.log
/web/wp-content/index.php
/web/wp-*.php
/web/.htaccess
/web/index.php
/web/license.txt
/web/liesmich.html
/web/readme.html
/web/sitemap-video.xml
/web/sitemap.xml
/web/sitemap.xml.gz
/web/xmlrpc.php

!/web/wp-content/plugins/dotsunited-wordpress-plugin-editor-grid
!/web/wp-content/themes/wordpress-boilerplate
!/web/.htaccess
