node_modules/
public/wp-admin/
public/wp-includes/
public/index.php
public/license.txt
public/readme.html
public/wp-*.php
!public/wp-config.dist.php
public/xmlrpc.php
public/.htaccess
public/wp-config.php
public/liesmich.html
public/wp-content/languages/
public/wp-content/uploads/
public/wp-content/upgrade/
public/wp-content/plugins/
public/wp-content/updraft/
public/sr/
