{
    "require": {
        "php": ">=5.3.0",
        "dotsunited/wordpress-plugin-editor-grid": "~0.1.5"
    },
    "extra": {
        "installer-paths": {
            "web/wp-content/plugins/{$name}": ["type:wordpress-plugin"]
        }
    }
}
