@import './variables.css';
@import 'normalize.css';

html {
    box-sizing: border-box;
    background: var(--color-grey-lighter);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background: var(--color-white);
    font-family: var(--font-sans);
    color: var(--color-black);
}

a {
    color: var(--color-blue)
}

img {
    border: 0;
    max-width: 100%;
}
