/* height / width * 100 */
@slider-height: unit(400 / 2500 * 100, vw);

.slider {
    display: block;
    width: 100%;
    height: @slider-height;
    margin-bottom: 30px;
}

.slider__slide {
    display: none;

    &:first-child {
        display: block;
    }

    width: 100%;
    height: @slider-height;
    overflow: hidden;

    img {
        width: 100%;
        width: 100vw;
        height: auto;
    }
}
