:root {
    --screen-width-sm: theme('screens.sm');
    --screen-width-md: theme('screens.md');
    --screen-width-lg: theme('screens.lg');
    --screen-width-xl: theme('screens.xl');

    --color-black: theme('colors.black');
    --color-grey-darkest: theme('colors.gray.800');
    --color-grey-darker: theme('colors.gray.700');
    --color-grey-dark: theme('colors.gray.600');
    --color-grey: theme('colors.gray.500');
    --color-grey-light: theme('colors.gray.400');
    --color-grey-lighter: theme('colors.gray.200');
    --color-grey-lightest: theme('colors.gray.100');
    --color-white: theme('colors.white');

    --color-blue-darkest: theme('colors.blue.900');
    --color-blue-darker: theme('colors.blue.800');
    --color-blue-dark: theme('colors.blue.600');
    --color-blue: theme('colors.blue.500');
    --color-blue-light: theme('colors.blue.400');
    --color-blue-lighter: theme('colors.blue.200');
    --color-blue-lightest: theme('colors.blue.100');

    --font-sans: theme('fontFamily.sans');
    --font-serif: theme('fontFamily.serif');
    --font-mono: theme('fontFamily.mono');

    --border-radius: theme('borderRadius.default');
    --shadow: theme('boxShadow.default');
}

@custom-media --screen-sm (min-width: theme('screens.sm'));
@custom-media --screen-md (min-width: theme('screens.md'));
@custom-media --screen-lg (min-width: theme('screens.lg'));
@custom-media --screen-xl (min-width: theme('screens.xl'));
