@import "../variables.css";

.o-scaffolding {
    max-width: var(--dotsunited-container-max-width);
    width: 100%;
    margin: 0 auto;
    padding: var(--dotsunited-spacing);
}

.o-scaffolding__container {
    position: relative;
    padding: 0;
    backface-visibility: hidden;

    @media (--dotsunited-m) {
        margin: 0;
    }
}
