@import "../variables.css";

:root {

}

body {
    font-family: var(--dotsunited-base-font-family);
    font-size: var(--dotsunited-base-font-size);
    font-weight: var(--dotsunited-base-font-weight);
    line-height: var(--dotsunited-base-line-height);
    color: var(--dotsunited-base-font-color);
}


a {
    text-decoration: none;
    transition: 350ms opacity var(--dotsunited-transition-timing-function);
}

a:hover {
    opacity: .6;
}

h1, h2, h3, h4, h5, h6 {
    margin: 5px 0;
}

h1 {
    color: var(--dotsunited-base-font-color);
    font-size: 30px;
    font-weight: 300;

    @media(--dotsunited-m) {
        font-size: 55px;
    }
}
