:root {
  --color-black: #22292f;
  --color-grey-darkest: #3d4852;
  --color-grey-darker: #606f7b;
  --color-grey-dark: #8795a1;
  --color-grey: #b8c2cc;
  --color-grey-light: #dae1e7;
  --color-grey-lighter: #f1f5f8;
  --color-grey-lightest: #f8fafc;
  --color-white: #fff;
  --color-blue-darkest: #12283a;
  --color-blue-darker: #1c3d5a;
  --color-blue-dark: #2779bd;
  --color-blue: #3490dc;
  --color-blue-light: #6cb2eb;
  --color-blue-lighter: #bcdefa;
  --color-blue-lightest: #eff8ff;
  --font-sans: system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-serif: Constantia, Lucida Bright, Lucidabright, Lucida Serif, Lucida, DejaVu Serif, Bitstream Vera Serif, Liberation Serif, Georgia, serif;
  --font-mono: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  --border-radius-default: .25rem;
  --shadow-default: 0 2px 4px 0 rgba(0, 0, 0, .1);
}
@custom-media --screen-sm (min-width: 576px);
@custom-media --screen-md (min-width: 768px);
@custom-media --screen-lg (min-width: 992px);
@custom-media --screen-xl (min-width: 1200px);
