:root {
  --screen-width-sm: 640px;
  --screen-width-md: 768px;
  --screen-width-lg: 1024px;
  --screen-width-xl: 1280px;
  --color-black: #000;
  --color-gray-900: #1a202c;
  --color-gray-800: #2d3748;
  --color-gray-700: #4a5568;
  --color-gray-600: #718096;
  --color-gray-500: #a0aec0;
  --color-gray-400: #cbd5e0;
  --color-gray-300: #e2e8f0;
  --color-gray-200: #edf2f7;
  --color-gray-100: #f7fafc;
  --color-white: #fff;
  --color-blue-900: #2a4365;
  --color-blue-800: #2c5282;
  --color-blue-600: #3182ce;
  --color-blue-500: #4299e1;
  --color-blue-400: #63b3ed;
  --color-blue-300: #90cdf4;
  --color-blue-200: #bee3f8;
  --color-blue-100: #ebf8ff;
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --border-radius: 0.25rem;
  --shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

@custom-media --screen-sm (min-width: 640px);

@custom-media --screen-md (min-width: 768px);

@custom-media --screen-lg (min-width: 1024px);

@custom-media --screen-xl (min-width: 1280px);
