.off-canvas-menu {
    @apply block z-[9];

    @media screen(md) {
        @apply hidden;
    }
}

.off-canvas-menu__control {
    @apply size-12 flex items-center justify-center relative outline-none;

    &:focus {
        @apply outline-none;
    }
}

.off-canvas-menu__control--open {
    @apply mt-0.5 mr-2;
}

.off-canvas-menu__control-icon {
    @apply block relative text-left w-8 h-5;

    & span,
    &:before,
    &:after {
        content: '';
        transition: 350ms cubic-bezier(.36, .66, .04, 1);

        @apply w-8 h-[3px] block absolute right-0 bg-zinc-500 rounded-sm;
    }

    & span {
        @apply w-3/4 top-0;
    }

    &:before {
        @apply top-1/2 transform -translate-y-1/2;
    }

    &:after {
        @apply w-1/2 top-full transform -translate-y-full;
    }
}

.off-canvas-menu__target {
    box-shadow: 0 0 50px 0 rgb(0 0 0 / 0.25);

    @apply w-full fixed top-0 right-0 bg-zinc-100 transform translate-x-full;
}

.off-canvas-menu[aria-hidden="false"] {
    & > .off-canvas-menu__target {
        @apply transform translate-x-0;
    }
}
