@import "../variables.css";

.off-canvas-menu {
    display: block;
    z-index: 9;

    & button {
        z-index: 99999999999999;
    }

    @media(--screen-lg) {
        display: none;
    }
}

.off-canvas-menu__control {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
}

.off-canvas-menu__control--open {
    margin-right: .5rem;
}

.off-canvas-menu__control-icon {
    position: relative;

    display: block;
    width: 32px;
    height: 20px;
    text-align: left;

    & span,
    &:before,
    &:after {
        display: block;
        height: 3px;
        width: 32px;
        border-radius: 2px;

        position: absolute;
        right: 0;

        background-color: var(--color-gray-600);

        transition: 350ms cubic-bezier(.36, .66, .04, 1);

        content: '';
    }

    & span {
        top: 0;
        width: 75%;
    }

    &:before {
        top: 50%;
        transform: translateY(-50%);
    }

    &:after {
        top: 100%;
        transform: translateY(-100%);
        width: 50%;
    }
}

.off-canvas-menu__target {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    transform: translate3d(100%, 0, 0);
    box-shadow: 0 0 5px 0 rgba(118, 118, 118, 1);
    background-color: var(--color-gray-100);
    z-index: 1000;
}

.off-canvas-menu__target:not([aria-hidden]):focus-within {
    transform: translate3d(0, 0, 0);
}
