.off-canvas-menu__target {
    -webkit-backface-visibility: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    @apply w-full h-full flex flex-col justify-start overflow-hidden;

    & * {
        -webkit-backface-visibility: hidden;
    }

    & .off-canvas-menu__wrapper {
        @apply pt-24;
    }

    & .off-canvas-menu__header {
        @apply h-14;
    }
}

.off-canvas-menu[aria-hidden="true"] {
    & > .off-canvas-menu__target {
        transition-property: transform, visibility;

        @apply visible;
    }

    & + .off-canvas-background {
        @apply bg-opacity-0 pointer-events-none;
    }
}

.off-canvas-menu[aria-hidden="false"] {
    & > .off-canvas-menu__target {
        transform: translate3D(0, 0, 0);
        visibility: visible;
        /*
        This removes the transition from the visibility property when opening
        the target. Otherwise, elements inside the target aren't focusable.
        */
        transition-property: transform;
    }

    & + .off-canvas-background {
        @apply bg-opacity-[99]
    }
}
