@import "../common";
@import "~gee.less";

.body {
    .container();
}

.body__container {
    @media (max-width: @body-breakpoint) {
        width: 100%;
        max-width: @body-max-width;
        margin-left: auto;
        margin-right: auto;
    }
}

.body--sidebar {
    .body__container {
        @media (min-width: (@body-breakpoint + 1)) {
            .clearfix();
        }
    }

    .body__main {
        @media (min-width: (@body-breakpoint + 1)) {
            float: left;
            width: ((@container-max-width - @container-padding - @container-padding) - @body-sidebar-width - @body-sidebar-gutter);
        }
    }

    .body__sidebar {
        @media (min-width: (@body-breakpoint + 1)) {
            float: right;
            width: @body-sidebar-width;
        }
    }
}
