html {
    background: theme(colors.slate.300);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
}

body {
    background: theme(colors.white);
    font-family: theme(fontFamily.sans);
    color: theme(colors.black);
}

a {}
